@import "../../libs/theming/variables";

/****************************
* Parametres
****************************/
$mainColor: #D74B4B;
$subColor: #515151;

$facebook: #3b5998;
$twitter: #55acee;
$googleplus: #dd4b39;
$youtube: #dd4b39;
$twitch: #6441A5;
$instagram: #cd486b;
$rss: #ff5722;

$primary-color : #2196f3;
$secondary-color : #E10050;
$success-color : #00C851;
$warnings-color : #ffbb33;
$alert-color : #ff4444;

$green: #00C851;
$blue: #2196f3;
$pink: #d81b60;
$gold: #d0b361;
$yellow: #e0e100;
$red :#ff4444;
$purple: #5e35b1;
$orange: #ffbb33;

$css3: #0378bd;
$html5: #e44d26;


/****************************
* Paramètres
****************************/

$fontFamily: 'Roboto', sans-serif !default;
$fontFamilyCondensed: 'Roboto Condensed', condensed !default;

$notificationIconWidth: 45px;
$notificationIconSize: 30px;

$notificationDefaultColor: white;
$notificationDefaultBackground: $grey;

